<div class="block">
  <div class="qNo">{{ no }}.</div>
  <div class="fraction"> 
    <div *ngIf="a1 > 0">{{a1}}</div>
    <div>
        <div>{{a2}}</div>
        <div>{{a3}}</div>
    </div>
  </div>
  <div class="symbol">&nbsp;{{ symbol }} </div>
  <div class="fraction"> 
    <div *ngIf="b1 > 0">{{b1}}</div>
    <div>
        <div>{{b2}}</div>
        <div>{{b3}}</div>
    </div>
  </div>
  <div class="equal"> = </div>
  <div
    [class.show-answer]="showAnswer"
    [class.hide-answer]="!showAnswer"
    class="fraction answer"
  >
  <div *ngIf="c1 > 0">{{c1}}</div>
  <div>
      <div>{{c2}}</div>
      <div>{{c3}}</div>
  </div>
</div>
</div>
