<div>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li 
        *ngFor="let m of menuItems"
        class="pure-menu-item">
        <a [routerLink]="m.link" class="pure-menu-link">{{m.label}}</a>
      </li>
      <li class="pure-menu-item">
        <button (click)="toggleShowAnswer()" >
          {{ showAnswer ? 'Hide' : 'Show' }} answer</button
        >
      </li>
    </ul>
  </div>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</div>
