<div>
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a routerLink="plus" class="pure-menu-link">Plus</a>
      </li>
      <li class="pure-menu-item">
        <a routerLink="minus" class="pure-menu-link">Minus</a>
      </li>
      <li class="pure-menu-item">
        <a routerLink="multiply" class="pure-menu-link">Multiply</a>
      </li>
      <li class="pure-menu-item">
        <a routerLink="divide" class="pure-menu-link">Divide</a>
      </li>
      <li class="pure-menu-item">
        <a routerLink="f_plus" class="pure-menu-link">Fraction Plus</a>
      </li>
      <li class="pure-menu-item">
        <button (click)="toggleShowAnswer()" >
          {{ showAnswer ? 'Hide' : 'Show' }} answer</button
        >
      </li>
    </ul>
  </div>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</div>
